import(methods)

importFrom(randomForest, combine)

importFrom(stats, xtabs)

importFrom(Biobase, ExpressionSet)
importFrom(Biobase, exprs)

importFrom(caret, train)
importFrom(caret, confusionMatrix)
importFrom(caret, predict.train)
importFrom(caret, trainControl)
importFrom(stats, model.matrix, predict, relevel, xtabs)

importFrom(limma, voom)

importFrom(DESeq2, estimateSizeFactors)
importFrom(DESeq2, estimateDispersions)
importFrom(DESeq2, getVarianceStabilizedData)
importFrom(DESeq2, counts)
importFrom(DESeq2, plotMA)

importFrom(edgeR, DGEList)
importFrom(edgeR, calcNormFactors)

exportClasses("MLSeq")

export(classify)
export(predictClassify)

exportMethods(method)
exportMethods(transformation)
exportMethods(normalization)
exportMethods(confusionMat)
exportMethods(trained)
exportMethods(ref)
exportMethods(show)

